{% extends "layout.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<h1 class="mb-3">Vehicles by {{ user.username}}</h1>

{% for vehicle in vehicles.items %}
        <article class="media content-section" style="border-radius: 10px;">
            <div class="media-body">
                <div class="article-metadata col-lg-12">
                    <a class="mr-1" href="{{ url_for('vehicles.vehicle', vehicle_id=vehicle.id)}}">{{ vehicle.brand }} {{ vehicle.model }}</a>
                    <small class="text-muted">{{ vehicle.date_posted.strftime("%d/%m/%Y") }}</small>
                    <small class="text-muted" style="float: right;">{{ vehicle.owner.email }}</small>
                </div>
                <div style="float: left; width: 50%;" class="col-lg-6 col-xs-12">
                    <p class="article-content"><b>Seller:</b> <a href="{{ url_for('users.user_vehicles', username=vehicle.owner.username) }}">{{ vehicle.owner.username }}</a></p>                    
                    <p class="article-content"><b>Price:</b> {{ vehicle.price }}€</p>
                    <p class="article-content"><b>Fuel:</b> {{ vehicle.fuel }}</p>
                    <p class="article-content"><b>Month/Year:</b>  {{ vehicle.making_date.strftime("%B, %Y") }}</p>                
                    <p class="article-content"><b>Capacity:</b> {{ vehicle.capacity }}cm<sup>3</sup></p>
                    <p class="article-content"><b>Horsepower:</b> {{ vehicle.horsepower }}cv</p>                
                    <p class="article-content"><b>Kilometers:</b> {{ vehicle.kilometers }}Km</p>
                    <p class="article-content"><b>Contact:</b> {{ vehicle.owner.contact }}</p>
                    <small class=" text-muted article-content">{{ vehicle.description }}</small>
                </div>

                <div id="photo-gallery-{{ vehicle.id }}" class="carousel slide col-md-6 col-xs-12" data-ride="carousel" style="float: right; width: 50%;">
                  <ol class="carousel-indicators">
                    {% for pic in vehicle.pics %}
                      {% if pic == vehicle.pics[0] %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index }}" class="active"></li>
                      {% else %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index }}"></li>
                      {% endif %}
                    {% endfor %}
                  </ol>

                  <!--Elementos do carrousel-->
                  <div class="carousel-inner">
                    {% if vehicle.pics %}
                      {% for pic in vehicle.pics %}
                        {% if pic == vehicle.pics[0] %}
                          <div class="carousel-item active">
                            <img src="{{ url_for('static', filename='vehicle_pics/'+pic.image) }}" class="d-block w-100" alt="...">
                          </div>
                        {% else %}
                          <div class="carousel-item">
                            <img src="{{ url_for('static', filename='vehicle_pics/'+pic.image) }}" class="d-block w-100" alt="...">
                          </div>
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      <div class="carousel-item active">
                        <img src="{{ url_for('static', filename='vehicle_pics/default.jpg') }}" class="d-block w-100" alt="...">
                      </div>
                    {% endif %}
                  </div>

                  <!--Controlos do carrousel-->
                  <a class="carousel-control-prev" href="#photo-gallery-{{ vehicle.id }}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#photo-gallery-{{ vehicle.id }}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
        </article>
    {% endfor %}

    {% for page_num in vehicles.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if vehicles.page == page_num %}
          <a class="btn btn-info mb4" href="{{ url_for('main.home', page=page_num)}}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb4" href="{{ url_for('main.home', page=page_num)}}">{{ page_num }}</a>  
        {% endif %}      
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content%}